SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8080

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/customer_support_hub_local
SPRING_DATASOURCE_USERNAME=customer_support_hub
SPRING_DATASOURCE_PASSWORD=customer_support_hub
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

POSTGRES_DB=customer_support_hub_local
POSTGRES_USER=customer_support_hub
POSTGRES_PASSWORD=customer_support_hub
